<html>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> 
    <link rel="stylesheet" href="style.css">
    <header>
        <div id="tdc">
            <h1>Termino do pedido</h1>
            <p>Data: [ {{ dia }} ]  Hora: [ {{ hora }} ]
            <span>Nome: [ {{ cook_user.user }} ] Cargo: [ {{ cook_user.role }} ]  </span></p>
        </div>
    </header>
    <body>
        <div id="finish">
            Revisão da Comanda
            <p></p>
            <div>
                <table class="tg">
                    <thead class="tg-head" v-if="itens.length > 0">
                    <tr>
                        <th class="tg-ahzk"> Item </th>
                        <th class="tg-ahzk"> Preço </th>
                        <th class="tg-ahzk"> Quantidade </th>
                    </tr>
                    </thead>
                    <tbody class="tg-body" v-if="itens.length > 0">
                        <tr v-for="item in itens">
                        <td class="tg-baqh"> {{ item.nome }} </td>
                        <td class="tg-baqh"> R$ {{ item.preco }} </td>
                        <td class="tg-baqh"> {{ item.quant }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p></p>
            Preco total: {{ calcularPreco() }}
            <p></p>
            Deseja encerrar o pedido?
            <p></p>
            <div id="quitFinish">
                <button id="sobre" v-on:click="doTerminarComanda()">SIM</button>
                <button id="sobre" v-on:click="doRetornarParaComandas()">NAO</button>
            </div>
        </div>
    </body>
    <script>
        var app = new Vue({ // App vue que lida com o usuario logado e a hora (header)
            el: '#tdc',
            data: {
                hora: '',
                dia: ''
            },
            computed: {
                cook_user: function() {
                    this.up;
                    if(getCookie("User") == "") {
                        return {"user":"Não logado","role":"Nenhum"};
                    }
                    else { 	
                        return JSON.parse(decodeURIComponent(document.cookie).replace('userAuth=',''));
                    }
                },
                cook_com: function() {
                    this.up;
                    if(getCookie("Comanda") == "") {
                        return "<<Error>>";
                    }
                    else { 	
                        return getCookie("Comanda");
                    }
                }
            }
        });
        var finishPaginas = new Vue({
            el: "#quitFinish",
            methods: {
                doTerminarComanda: async function() {
                    window.location.href = "main.html";
                },
                doRetornarParaComandas: async function() {
                    window.location.href = "main.html";
                }
            }
        });
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while(c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if(c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        var timerDT = setInterval(getDT, 1000);
        function getDT() {
            let today = new Date();
            app.dia = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();
            app.hora = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        };
    </script>
</html>